@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;


}

.my_container {
    font-family: 'VT323', monospace;

    font-size: 20px;
    width: 100% ; /* اجعل الحاوية تأخذ العرض الكامل */
    padding: 0; /* إزالة أي مسافات داخلية */
    margin: 0; /* إزالة أي مسافات خارجية */

}
.my_product_table {
    width: 140%;
    table-layout: fixed;
    border: transparent;
    border-spacing: 0; /* يقلل المسافة بين الخلايا */
    border-collapse: collapse; /* يجعل الخلايا تتشارك الحواف */
}

.my_product_table td {
    padding: 2px 5px; /* تقليل المسافة داخل الخلايا */
    line-height: 1.2; /* تقليل المسافة بين النصوص */
}
.my_product_table td:first-child {
    width: 60% !important; /* عرض العمود الأول (المنتج) */
}


.my_product_table td:nth-child(2) {
    width: 20% !important; /* عرض الأعمدة الأخرى */
}.my_product_table td:nth-child(3) {
    width: 50% !important; /* عرض الأعمدة الأخرى */
}

.my_table {
    width: 90%;
    border: transparent;
}

.my_table{
    padding-left: 20px;
    padding-right: 20px;
}


.my_product_table tr:first-child {
    border-bottom: 1px;
    border-style: dashed;

}

.cntr {
    display: flex;
    justify-content: center;
    width: 100%;
}
.my_section{
    width: 90%;
    position: relative;

}

.detail_section{
    text-align:left;
}
.date_section{
    position: absolute;
    text-align: left;
    right: 0;
    top:10px;
}


.my_table  tr td:nth-child(3n+3) {
    text-align: right;
}


